[2013-05-04 17:20] AFaust opened #1 "Remove hard dependency on default RhinoScriptProcessor"
Currently, the JavaScript console can only be run with the default RhinoScriptProcessor of Alfresco due to the way pre- and post-roll scripts are handled. This can and should be changed to remove the hard dependency, which would allow alternative script processor to also be supported.

It is not necessary to resolve all imports in the script to be executed before pre- and suffixing the pre- and po

[2013-05-15 15:46] flox1an opened #2 "Add I18N for execution options"
Some options in the Javascript console are not translateable. Add the needed message properties.

[2013-05-23 10:32] AntonioSoler opened #3 "mimetype not saved"
In order to reuse the scripts saved from the console on the old Alfresco Explorer the mimetype needs to be JS otherwise the "run action" won't display it when configuring a rule. On my test environment the console does not set the mimetype and its blank (so I have to do it manually later).
Could you please confirm if this is a bug or by design?

[2013-07-27 15:05] AFaust opened #4 "Error in listscripts when SOLR is unavailable"
When SOLR is set as the search system but currently unreachable, the listscripts web script fails with a status code of 500 as it uses "search.xpathSearch" to retrieve the "Scripts" folder within the "Data Dictionary".

An equivalent replacement to "search.xpathSearch" which does not require any index-based search is the use of "companyhome.childrenByXPath". See https://github.com/AFaust/js-consol

[2013-09-04 13:14] flox1an opened #5 "Add support for Load from/Save to Github Gists"
http://developer.github.com/v3/gists/

http://developer.github.com/v3/oauth/#scopes

[2013-09-05 07:23] fmaul opened #6 "Fullscreen support"
Add a full screen button to use all the room on for large script/result windows:

[code]

margins are needed, maybe fixed height and scrolling in result lists

[2013-09-14 06:39] #4 closed, assigned to nobody

[2013-09-14 06:42] #1 closed, assigned to nobody

[2013-09-14 07:36] #2 closed, assigned to nobody

[2013-09-14 07:36] #3 closed, assigned to nobody

[2013-10-14 13:54] jberthoux opened #12 "Minify JS files"
Hello,

is it possible to minify JavaScript files in the Maven build? Because, by default, Alfresco      uses **-min.js** files and many 404 errors are generated in browser's console after deploying amps files.

Thanks in advance.
Regards.

[2013-10-16 14:04] flox1an opened #13 "Alfresco 4.2d dojoLoader runs into errors with tern.js/acorn.js AMD definitions"
![screenshot from 2013-10-16 16 03 47](https://f.cloud.github.com/assets/174110/1342970/ea6669a0-366b-11e3-8b35-df3e558afb21.png)

This is the module registration code in tern.js that causes issues with the dojoLoader:

[code]

https://github.com/share-extras/js-console/blob/master/javascript-console-share/src/main/amp/web/fme/components/jsconsole/ternjs/tern/lib/tern.js

Multiple files contain mo

[2013-10-22 10:51] #13 closed, assigned to flox1an

[2013-10-22 10:53] #12 closed, assigned to flox1an

[2013-10-23 12:02] francescou opened #15 "javascript-console-share: Maven build Failure"
Hello

I get the following error building the latest version of javascript-console-share with Maven 3.1.0:

Exception in thread "main" java.lang.StackOverflowError
        at java.util.regex.Pattern$CharProperty.match(Pattern.java:3344)
        at java.util.regex.Pattern$Branch.match(Pattern.java:4114)
        at java.util.regex.Pattern$GroupHead.match(Pattern.java:4168)
        at java.util.regex

[2013-11-19 12:05] douglascrp opened #17 "Localization message missing"
Please, add the property tab.label.performance.output=Performance output in js-console\javascript-console-share\src\main\amp\config\alfresco\site-webscripts\de\fme\components\jsconsole\javascript-console.get.properties (and all the other properties files, of course)

[2013-12-12 14:42] AFaust opened #18 "Provide option to receive script logging output asynchronously"
In long running operations triggered by a script from the JS Console, the user will not receive any feedback on the execution of the script until it has run to completion (either successful or with errors). It would be great if the JS Console would provide a feature / option to retrieve script logging output (logger / print) of a script asynchronously while still waiting for completion, kind of li

[2013-12-12 17:31] binduwavell opened #19 "Would you mind structuring your amps as a war overlay instead of in "standard" amp format?"
An AMP is essentially a WAR overlay for alfresco.war or share.war that includes a little extra metadata. Unfortunately by default AMPs have a structure that doesn't overlay cleanly, instead MMT does some moving of folders around. Fortunately it is possible to undo this strangeness by adding a file-mapping.properties file to your amp and organizing the folders in the AMP so they can be cleanly over

[2013-12-19 15:35] #5 closed, assigned to flox1an

[2013-12-23 19:59] AFaust opened #21 "Web script /de/fme/jsconsole/serverInfo fails when search subsystem is not available"
The web script /de/fme/jsconsole/serverInfo fails when the search subsystem is not available, i.e. SOLR is not running.
This is due to the fact that serverInfo.get.js uses search to retrieve the counts of sites, groups, people, tags, deployed workflows, folders, contents and checked out nodes. The entire set of data is only used to pre-populate the scriptOutput <p> element.
Is this operation even

[2014-01-31 20:07] #15 closed, assigned to flox1an

[2014-02-11 12:07] shazada opened #22 "Why is there no installable .jar files like the 0.5 versions?"

[2014-02-13 11:59] AFaust opened #24 "JavaScript console fails to load on Internet Explorer 8"
I do not know if anyone considers support of IE 8 as relevant, but due to the recent changes including tern.js and infer.js, the JavaScript console fails to load on Internet Explorer 8.

Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0)
Timestamp: Thu, 13 Feb 201

[2014-03-03 10:53] krzysztofdrys opened #27 "Are share-extras available in any Maven repository?"
I am building my alfresco using Maven. I am using a few items from share-extra. I would like to be able to build my alfresco automatically (as opposed to manually downloading and installing appropriate jar's/amp's). So, are share-extras available in any Maven repository? Are there any plans for doing so?

[2014-03-11 13:01] bmlong137 opened #28 "Alfresco Share scoping"
It would be great to have a dropdown or setting that executes the script on the Alfresco Share server-side.  This could be used to have the option of testing Share webscripts, instead of only Repo webscripts.

[2014-09-10 16:02] douglascrp opened #30 "Two java source folders in the project"
Why does this project have 2 java source folders?
One at javascript-console-repo/source/java/ and another at /javascript-console-repo/src/main/java/

I was trying to compile it, but it only worked after I moved the source/java content to scr/main/java

Is there any reason for it to be that way?

[2014-09-12 19:01] douglascrp opened #31 "Logger.log() show nothing on Output Console"
I's been a while since Output Console doesn't work.
I'm using the latest version, built from source, running on Alfresco Community 4.2.f.
I got no errors on logs.
When I try to print something using logger.log(), on only can see the output looking at catalina.out and alfresco.log, but nothing on Output Console inside Share.

Any idea on how to solve this?

[2015-01-15 18:49] xkahn opened #32 "JsConsoleDump.java is in the wrong directory"
It needs to be moved from javascript-console-repo/source/java/de/fme/jsconsole/JsConsoleDump.java -> javascript-console-repo/src/main/java/de/fme/jsconsole/JsConsoleDump.java

Until this file is moved, mvn compile will report missing symbols.

[2015-01-15 18:52] xkahn opened #33 "serverInfo returns error on Alfresco Enterprise 4.2.3 (/alfresco/s/de/fme/jsconsole/serverInfo)"
The error is:
message": "00150315 Wrapped Exception (with status template): 00150626 Failed to execute script 'classpath_:alfresco/extension/templates/webscripts/de/fme/jsconsole/serverInfo.get.js': No bean named 'search.solrIndexCheckService' is defined",
"exception": "org.springframework.extensions.webscripts.WebScriptException - 00150315 Wrapped Exception (with status template): 00150626 Failed

[2015-01-18 13:53] AFaust commented on #32
Duplicate of #30

[2015-01-18 15:11] AFaust commented on #33
I believe this is the same issue as in #21 - serverInfo.get.js unfortunately requires that SOLR is used as the search subsystem to display / calculate the output. In my opinion, the serverInfo.get web script should be removed as its output is rarely useful.

[2015-01-20 21:50] xkahn commented on #33
I don't think so. The error looks different, and the server has Solr set up and is the search service the system is using)

[2015-01-21 13:51] AFaust commented on #33
Hmm, ok - maybe I was a bit quite on the assumption there. It's definitely a Community-only issue, because the bean still exists in Enterprise 4.2(.3) and 5.0 without change in name.
But the basic issue / fault is the same as in #21 - the serverInfo.get.js SHOULD NOT rely on SOLR (or any other optional subsystem) to be available. And it shouldn't use a JavaScript-access-to-Spring hack to get beans

[2015-01-21 19:40] xkahn commented on #33
I'm seeing this issue on Alfresco Enterprise 4.2.3 using Solr as the search service. But I agree that recovering from failures would help.

[2015-01-23 10:26] tavvolley opened #34 "Error compiling repo project"
hi I'm Rocco and I have new in this forum! I have download the project into my workspace and I have compile both the project (share and repo).
When I compile the project **javascript-console-repo** it make this error:
giuseppe@giuseppe-desktop:~/workspaceGit/js-console/javascript-console-repo$ mvn install
[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------------------------------

[2015-01-23 10:31] tavvolley commented on #34
Sorry I don't have read the other post. I have resolve the error and the I have read the post

[2015-01-26 09:00] GuillermoCastillo opened #35 "Version for Alfresco 5.X"
HI:

Is there version of js-console for Alfresco 5.x ?

Thanks

[2015-01-28 16:38] wabson commented on #35
Generally the add-ons on share-extras should be forwards-compatible with future versions of Alfresco. If you find a problem please feel free to open a bug about that.

[2015-02-16 21:34] binduwavell opened #36 "repo amp not building with recent merge of dump functionality"
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 6 source files to /Users/bwavell/projects/js-console/javascript-console-repo/target/classes
[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /Users/bwavell/projects/js-console/javascript-console-repo/src/main

[2015-02-22 15:43] docterwatson commented on #36
Having the same issue, missing JsConsoleDump class. Any word on this? Thanks much!

[2015-02-26 16:17] MrBuddyCasino commented on #36
Same here.

[2015-03-01 16:36] jgoldhammer commented on #28
Closing for now.

[2015-03-01 16:36] #28 closed

[2015-03-01 16:36] jgoldhammer commented on #34
Closed because this works now.

[2015-03-01 16:36] #34 closed

[2015-03-01 16:37] jgoldhammer commented on #22
Merged now.

[2015-03-01 16:37] #22 closed

[2015-03-01 16:39] jgoldhammer commented on #18
@AFaust , do you run this sucessfully in your projects? What´s your opinion: Should I merge?

[2015-03-01 16:54] jgoldhammer commented on #30
Fixed.

[2015-03-01 16:54] #30 closed

[2015-03-01 17:14] jgoldhammer commented on #33
@AFaust you are right, Axel. There must be a redesign- any ideas? A java backed webscript should be better here...
For now, I will disable SOLR in the serverInfo.get.js.
And no, I will not completely remove the script because it can provide some useful info...

Thanks,
Jens

[2015-03-01 17:15] jgoldhammer commented on #31
@douglascrp Problem still exists?

Thanks,
Jens

[2015-03-01 17:17] jgoldhammer commented on #35
It is not compiled for Alfresco 5, but I have it running on Alfresco 5 without any problems.

Should we update the Alfresco sdk to 2.0?
CC: @wabson @fmaul @AFaust

Thanks,
Jens

[2015-03-01 17:17] #21 closed

[2015-03-01 17:18] jgoldhammer commented on #32
Closed as duplicate...

[2015-03-01 17:18] #32 closed

[2015-03-01 17:25] jgoldhammer commented on #36
@binduwavell , @docterwatson and @MrBuddyCasino
Please try again after the new merge. Should not happen any more.
I will close the ticket. Please reopen it if you found any issues...

Thanks,
Jens

[2015-03-01 17:25] #36 closed

[2015-03-01 17:25] jgoldhammer commented on #6
Can you provide a pull request?

Thanks,
Jens

[2015-03-01 17:59] douglascrp commented on #31
Not that I cam remember.
Close it and we can reopen it if it happens again.

[2015-03-01 18:02] douglascrp opened #39 "Fix the project description to include Alfresco 5.0"
Something like this:
Javascript Console Admin Console component for Alfresco 4.0-4.2-5.0

People always ask on IRC and Alfresco forums if it's compatible or not with 5.0, and it is.

[2015-03-01 18:21] #31 closed

[2015-03-01 19:20] #39 closed

[2015-03-01 19:45] #17 closed

[2015-03-01 19:48] jgoldhammer commented on #27
I would like to push this topic after such a long time...

I have changed the 0.6 pre prelease to a production release.
Is that Ok? CC: @wabson @fmaul @AFaust

[2015-03-01 19:57] AFaust commented on #35
This question came up on the IRC lately as well. Compatibility with 5.0 is given - the addons.alfresco.com listing should be adapted to reflect this (and maybe the release notes of previous release could also be appended).
As long as the update to SDK 2.0 does not introduce unecessary compatibility issues, I'd say do it. "Unecessary" would be being forced to use JDK 7 to compile which automaticall

[2015-03-01 20:06] AFaust commented on #33
I have never seen useful info, but as long as it does not throw a tantrum because of SOLR being unavailable, I don't care if it's there or not.
The problem with re-design is that you'd need to decide on the lowest supported Alfresco version for the re-design. E.g. the query could be performed in Java-backed web script using transactional metadata queries, but this forces Alfresco 4.2 as lowest ver

[2015-04-16 11:11] igorbga commented on #27
Any progress with this ? I'm going to upload the AMP as an artifact in our own nexus repo but it would be great if the javascript console would be published somewhere.

By the  way, in its latest SDK's Alfresco itself is pushing its artifacts to central so maybe using central instead of alfresco's nexus for Share Extras should be something to consider.

[2015-04-19 09:49] wabson commented on #27
I have created an account on Alfresco's Nexus which can be used for automatically publishing Share Extras builds there. I would prefer if the deploy was automatic from the build env rather than by hand by the developer, can you think of a way for us to do this?

[2015-04-21 13:32] igorbga commented on #27
I'm a newbie with maven myself but wouldn't something like what they
explain in this blogpost be enough?

https://support.sonatype.com/entries/21283268-Configure-Maven-to-Deploy-to-Nexus

Bye

2015-04-19 11:49 GMT+02:00 Will Abson <notifications@github.com>:

[2015-05-28 09:32] nicolas-raoul opened #42 "Latest release Javascript Console does not show up in Alfresco Share 5.0.0"
I downloaded [the latest release](https://github.com/share-extras/js-console/releases/download/v0.6.0-rc1/javascript-console-share-0.6.0.amp) and installed it in my stopped Alfresco 5.0.0 like this:

[code]

After restarting Alfresco, the Javascript Console unfortunately does not show up:

![no-javascript-console](https://cloud.githubusercontent.com/assets/99590/7856929/ad1a03be-0567-11e5-82b4-ea8

[2015-05-30 13:02] jgoldhammer commented on #42
Please build from trunk.
Even with that I run into a blank issue in admin console.

[2015-05-30 13:20] jgoldhammer commented on #35
@fmaul Can you update addons.alfresco.com?

[2015-06-15 14:42] johnkharvey opened #46 "How to build js-console for alfresco 4.2?"
Hello all,

I've got the current code, and am looking at commit 98dd1545cb09cca3cd218c6830ba41f117c14e59.

If I remember right:
 - Alfresco 5.0 is built with java 1.8
 - Alfresco 4.2 is built with java 1.7
 - Alfresco 4.0/4.1 are built with java 1.6

This seems to be somewhat validated in the release notes.
In README.md, I see this line about compiling for alfresco 4.0/4.1:
    mvn install -P Java

[2015-06-15 14:44] johnkharvey opened #47 "How to build js-console for alfresco 4.2?"
Hello all,

I've got the current code, and am looking at commit 98dd1545cb09cca3cd218c6830ba41f117c14e59.

If I remember right:
 - Alfresco 5.0 is built with java 1.8
 - Alfresco 4.2 is built with java 1.7
 - Alfresco 4.0/4.1 are built with java 1.6

This seems to be somewhat validated in the release notes.
In README.md, I see this line about compiling for alfresco 4.0/4.1:
    mvn install -P Java

[2015-06-15 14:45] johnkharvey commented on #46
duplicate

[2015-06-15 14:45] #46 closed

[2015-06-15 17:09] johnkharvey commented on #47
I think the answer is to use revision f390b2bd29013c522dc3d517dbcd327a60b6304f, which is the revision before the 5.0 SDK was added.

[2015-06-16 19:47] jgoldhammer commented on #47
Yes, currently it is the only option because the sdk checks the java version as you have find out. Another option would be to have a branch of js-console for older alfresco versions. Any other option?

cc: @fmaul , @AFaust

[2015-06-25 09:50] fmaul opened #48 "Codemirror text is displayed in front of the drop down menu"
![2015-06-25 11_47_48-alfresco admin tools](https://cloud.githubusercontent.com/assets/174110/8351839/7443960c-1b30-11e5-8605-0db06b7d3a9e.png)

[2015-07-13 18:57] jgoldhammer commented on #42
Does that work for you, @nicolas-raoul ?

Thanks,
Jens

[2015-07-13 19:39] jgoldhammer commented on #35
@fmaul push. Can you update addons.alfresco.com?

[2015-07-13 19:41] jgoldhammer commented on #27
@wabson we have a travis build now.
https://travis-ci.org/share-extras/js-console

How can make an automatic deploy?

Thanks,
Jens

[2015-07-13 19:45] #47 closed

[2015-07-14 03:05] nicolas-raoul commented on #42
@jgoldhammer: I was quite in a hurry so I actually used another ECM product.

In a perfect world releases would be up-to-date (as the manager of several open source project I know this is not always easy).

[2015-07-14 15:41] wabson commented on #27
It looks to me like Travis could be configured to push automatically to artifacts.alfresco.com. Is that what you mean?

I looked in the `pom.xml` and I see there is a `<distributionManagement>` section in there but it does not contain any details, only some property refs. The details for the [share-extras](https://artifacts.alfresco.com/nexus/content/repositories/share-extras/) repo would need to

[2015-07-24 10:54] mathiaslin commented on #42
@jgoldhammer: Same issue here with Alfresco 5.0.d (Community Edition). I built the latest js-console from the trunk. I deployed each jar to the alfresco/share's WEB-INF/lib respectively - just the same way I did for Alfresco 4.
But as @nicolas-raoul mentioned, it does not appear in the Admin Tools menu.

(It should be fine to just deploy the built jar files, no need to use alfresco-mmt.jar I assum

[2015-07-24 11:01] mathiaslin commented on #35
js-console (built from trunk) does not show up in Alfresco 5 / Admin Tools, see: https://github.com/share-extras/js-console/issues/42

[2015-07-24 13:24] AFaust commented on #35
I have heard this a couple of times in the past, but in all 5.x instances I've used so far from 5.0.d to 5.0.1, JavaScript console always shows up even with the old release 0.6.0

[2015-07-24 13:26] mathiaslin commented on #35
@AFaust I assume in both Enterprise and Community, it works for you then? Ok, I will investigate it a bit further...

[2015-07-24 13:58] douglascrp commented on #42
I'm using the 1.0 release against a 5.0.d server, and everything is working ok.
And I'm using amps to install it.

[2015-07-25 18:37] AFaust opened #49 "Drop down menu buttons are missing the "drop down" arrow in Alfresco 5.x"
Due to Alfresco changing the styling of drop down menu buttons, the buttons in the JavaScript console are now lacking their "drop down" arrows. See https://issues.alfresco.com/jira/browse/ACE-1787 - the arrow now requires a unicode character to be added to the label. The change by Alfresco unfortunately requires some magic in the JavaScript Console to append the unicode character in Alfresco 5.x o

[2015-07-25 18:47] AFaust opened #50 "Unable to save script when SOLR is not running"
The action to save a script into the data dictionary fails when neither SOLR nor another search subsystem is activated. The search to resolve the XPath to the scripts folder fails in the saveScript.put.json.js script, because it uses the wrong method to search by XPath. Using the xpathSearch method on the search root scope object always executes an index-bound query. For XPath searches, the select

[2015-07-26 13:58] AFaust commented on #33
@jgoldhammer Recently found another issue with serverInfo.get.js when a customer used JavaScript Console. Customer had 25+ million nodes in the repository and is still using Lucene (on 4.2.4) - load of JavaScript Console for administration purposes triggered serverInfo.get.js and its "search for up to 1.000.000 content / folder / checked-out nodes". This effectively cleared out all the internal no

[2015-07-26 16:15] AFaust commented on #18
@jgoldhammer Unfortunately, no customer is willing to run an experimental feature. But I've used my previous work (from Dec 2013 onwards) locally all the time, i.e. while working on my Nashorn PoC and other stuff. Today I've rebased quite a lot of work on my js-console fork and updated the logstream feature to properly use cluster-aware caching in Alfresco 4.2 and above. You can merge it at will,

[2015-07-27 02:52] nicolas-raoul commented on #42
@douglascrp: Interesting! What command line did you use to install it? Exact same command line as the one at the second line of the original post?

[2015-07-27 06:45] mathiaslin commented on #42
@nicolas-raoul It now works for me in 5.0.d after I used the amp installation method. Just deploying the jars did not work; (if I remember correctly though, it used to work just fine in 4.x)

`C:\Alfresco\bin>java -jar alfresco-mmt.jar install C:\Users\mlin\Projects\js-console\javascript-console-repo\target\javascript-console-repo.amp C:\Alfresco\tomcat\webapps\alfresco.war`

`C:\Alfresco\bin>java

[2015-07-27 09:41] aviriel opened #55 "JSConsole doesn't work on 4.2.f/4.2.4"
Now it's impossible to use JSConsole on Alfresco 4.2.x. There are too types of errors:

1. Build JSConsole using Java 8, then install it to Alfresco 4.2 and see error "unsupported major.minor version 52.0". Alfresco cannot start.

2. Try to build JSConsole using Java 7, get error:
"[WARNING] Rule 1: org.apache.maven.plugins.enforcer.RequireJavaVersion failed with message:
Alfresco 5.0.d and 5.0.1

[2015-07-27 10:15] AFaust commented on #55
This is a result of update to latest SDK in context of #35 which forces Java 8. In #35 I cautioned against any upgrade that forced Java 7 - seems that we instead skipped that issue and went straight to Java 8.

[2015-07-27 10:16] AFaust commented on #35
@jgoldhammer We'll have to revisit the update to latest Alfresco SDK since this currently prevents build of JS-Console to be compatible with Alfresco 4.2.x (see #55). I'll have a look at this later today.

[2015-07-27 11:19] AFaust commented on #55
First check: It is not enough just to override the enforcer rules to allow Java 7 - the Alfresco SDK Maven plugins themselves have been compiled with Java 8 and won't work under Java 7.

[2015-07-29 03:12] douglascrp commented on #42
I use the apply_amps script, which uses the alfresco-mmt.jar file

Em dom, 26 de jul de 2015 às 23:52, Nicolas Raoul <notifications@github.com>
escreveu:

[2015-07-29 04:54] mathiaslin commented on #42
@nicolas-raoul As a side note: you should also make sure that you don't have any other third-party modules installed that eventually replace the entire share-custom-config.xml by accident, which might then make the share-custom-config.xml configuration within the js-console useless.

[2015-08-05 18:25] mindthegab commented on #27
Hey guys, I can help here maybe.

This is a very common request (just got yesterday from Bindu @ Zia at the Alfresco days), so whatever i can do to help, let me know.

Let me know!

[2015-08-05 18:27] douglascrp commented on #27
How about making this part of the core?

Em qua, 5 de ago de 2015 às 15:25, mindthegab <notifications@github.com>
escreveu:

[2015-08-05 18:31] mindthegab commented on #27
@douglascrp Why would you do that?

The whole point we are trying to push in Alfresco (with release agility, proper APIs, etc) it's modularization, not keep on shoveling everything in the same humangous unreleaseable monolith.

Also this is a community project, so bringing into core would have support implications and I don't really see the advantage now.

Let's just make sure it's available out t

[2015-08-05 18:58] douglascrp commented on #27
I understand your point.

Em qua, 5 de ago de 2015 às 15:31, mindthegab <notifications@github.com>
escreveu:

[2015-08-13 10:32] #49 closed

[2015-08-13 10:33] #48 closed

[2015-08-13 10:40] #50 closed

[2015-08-13 10:42] #55 closed

[2015-08-16 13:42] jgoldhammer commented on #27
Hi @wabson  and @mindthegab ,

can you help me to make js-console available on artifacts.alfresco.com?
What are the next steps for me and you?

Thanks,
Jens

[2015-08-16 14:19] wabson commented on #27
Hi Jens, did you see my [comment](https://github.com/share-extras/js-console/issues/27#issuecomment-121285154) above? If you agree with my suggestions and a pull request along those lines came my way then I'm sure I could get some appropriate credentials configured in Travis and test it all out.

[2015-08-25 21:00] douglascrp opened #57 "Dump function not working on 5.0.d"
It doesn't matter which object I use, I always get this errors when I use the dump function:

[code]

Alfresco 5.0.d
Oracle Java 1.8.0_60-b27
Ubuntu 14.04
Tomcat 7.0.63

[2015-09-17 14:36] shazada commented on #57
I have the same issue

[2015-09-21 17:02] patriciay-appno opened #58 "search.findNode function not working"
Hi,

I have installed the javascript console in Alfresco 5.0.1.

I'm able to run the default demo script and get results, however, when I try to use search.findNode, I can't get any results

var node = search.findNode('workspace://SpacesStore/2b438ef2-9305-4924-b212-7b64eb796762');

print(node);
print(node.name);

Thanks

[2015-09-28 17:46] jgoldhammer commented on #58
Hi,

can you please attach the repo logfiles here?
Is it possible to use utils.getNodeFromString (http://docs.alfresco.com/4.1/references/API-JS-Utility-getNodeFromString.html).

Thanks,
Jens

[2015-09-28 17:47] jgoldhammer commented on #42
So can I close the ticket now or should we work on deploying the js-console as jar?

[2015-09-28 17:48] jgoldhammer commented on #57
I will work on it the next days...

[2015-09-28 17:49] #35 closed

[2015-09-28 17:53] jgoldhammer commented on #24
I think, we should not support IE8 anymore. So can I close the ticket?

[2015-09-28 17:55] jgoldhammer commented on #18
So we have merged it. Testing status unknown. Can anybody confirm that this is working? Hadn´t the time to fully test it...

[2015-09-28 17:58] jgoldhammer commented on #19
@AFaust , it is possible to have this for the new alfresco sdk? I think, it would be cool to have also jars available for faster deployment...

[2015-09-28 18:18] AFaust commented on #24
Resolution type: "Waited it out"
I think IE8 is not as relevant as when I opened the ticket (back then I actually did still have Alfresco customers on IE 8). At this point I'd say that it would not be worth the effort to fix it. Let's just hope that future changes / polyfills are more considerate to the web clients the majority of us dislike...

[2015-09-28 18:18] #24 closed

[2015-09-30 08:18] patriciay-appno commented on #58
Hi Jens,

Thank you for your reply. That function doesn't work neither.

I notice that if I try to search with search.luceneSearch, some of the queries doesn't work, only the one that comes by default.
However, if I try the same query in the node browser it works fine, even if I try for a specific node with the nodeRef.

[2015-10-08 22:55] Tybion opened #60 "Brilliant! - is there a guide for beginners?"
I have installed this on 5.0.d because I am writing a script for an 'Execute Script' Folder Rule and I am still struggling with learning Alfresco.  This seems to be an absolutely brilliant teaching tool - but do you have a guide for beginners?

[2015-10-09 01:05] LukaszRacon commented on #42
@nicolas-raoul I was able to deploy it as jars but I had to repackage/convert structure of amps to jars.

[2015-10-09 09:58] shazada commented on #42
I once had a new assembly xmls from Axel and added a new profile as installable jars. I'm using that. It would be great to include those again. I don't really understand why 'not' to include them...

I can supply them. How would you like them?

[2015-10-09 12:33] shazada commented on #42
I've added the following pull request, so accept it so we don't need to do this manually.

[2015-10-09 12:39] jgoldhammer commented on #60
Unfortunately not... Please check the official alfresco docs which are referenced in the menu docs on the js console admin page in share...
I hope, this helps.
Jens

[2015-10-09 12:39] #60 closed

[2015-10-09 12:39] jgoldhammer commented on #58
Hi,

can you please attach the alfresco repository logfiles or stacktraces here?
Thanks,
Jens

[2015-10-09 12:40] #18 closed

[2015-10-09 12:41] jgoldhammer commented on #19
Provided by Tahir Malik
https://github.com/share-extras/js-console/pull/61

[2015-10-09 12:41] #19 closed

[2015-10-09 12:42] jgoldhammer commented on #42
I will close the ticket for now. If there is any question left, please create a new ticket or reopen it here...
Thanks,
Jens

[2015-10-09 12:42] #42 closed

[2015-10-09 17:12] mindthegab commented on #19
The new SDK (3.0.0 targeting Alfresco 5.1+) will have supported JAR modules, so hopefully all this non sense of AMPs and WAR overlays at Dev time, will finally go.

The ultimate objective is an immutable war, which nobody needs to change (either our or 3rd party modules).

[2015-10-10 08:33] Tybion commented on #60
Thanks, Jens.

I have looked through the community doco and the Alfresco One doco, and I
can't find anything on Javascript Console - can you please give me link?

Regards,
David

On Fri, Oct 9, 2015 at 11:39 PM, Jens Goldhammer <notifications@github.com>
wrote:

--
Blog: geofoss.net

[2015-10-12 08:26] shazada commented on #18
I guess this is what breaks the logging at the moment. If I just put out print or logger.log it doesn't get printed in the JSConsole. But if it's withing an external function it does get printed. @AFaust any idea why this happens?.
So I guess we need to re-open this issue and analyze why this is failing.
I've got locally the latest version with this merge and on a system one before and there it's

[2015-10-12 13:34] AFaust commented on #18
@shazada What do you mean by "if it's within an external function"? I have used a version of JS Console with this feature for the last 2 years (locally) and haven't noticed a difference between print, logger or "external function".
I do hope this is not a side-effect of some other changes in js-console, i.e. the dump feature, which I have not merged into my branch. I'll see if I get a chance to re

[2015-10-15 10:20] shazada commented on #18
What I mean is that i've written a custom like:
function filterArray(value) {
    return value.indexOf(this.toString()) > -1;
}

If I add logging within this function and add logger.log/print it prints when running
var filteredList = completeList.filter(filterArray, args.valueFilter);

But if I just randomly add logger.log/print in the console it doesn't.

And it did in the version before, so mayb

[2015-10-16 16:16] jonsolove opened #62 "logger.warn() and print() not logging to console in Enterprise 5.0.1 (via SDK 2.1)."
When I use logger.warn() or print(), which I've used frequently in the past, nothing is written to the "Console output" area.  logger.error() prints to the Alfresco logs (per my log4j settings).

This is occurring in Enterprise 5.0.1.

Error from Chrome inspect console:

Uncaught TypeError: Cannot read property 'dumpOutput' of null
14javascript-console_fd1063a2d4a4716d42fde005546e405a.js:1419 Unca

[2015-10-19 10:36] ikaygorodov commented on #62
The same accures for 5.0.2.1 Enterprise.

Error in firefoxe: TypeError: res.json is null

Error in Chrome:
Uncaught TypeError: Cannot read property 'dumpOutput' of null
ACJC_onExecuteClick.Alfresco.util.Ajax.request.successCallback.fn @ javascript-console_fd1063a2d4a4716d42fde005546e405a.js:1419
_successHandlerPostExec @ alfresco_a7332e44d471df282bf82de5cb946bb8.js:1
_successHandler @ alfresco_a73

[2015-10-19 16:13] jonsolove commented on #62
I'm seeing really strange behavior - very occasionally, console output will start working again, then stop.  It feels like it may be some sort of js loading order issue, though that's just a guess.

[2015-10-19 16:44] ikaygorodov commented on #62
Actually fix is in this pull request
https://github.com/LukaszRacon/js-console/commit/cce6c9e2f862563c947ff4313caa8d02e0404cc1

Just remove row #52 in JavascriptConsoleResult and everything would be fine.

[2015-10-19 16:48] jonsolove commented on #62
@ikaygorodov - Great!  Thank you!  I'll give this a shot locally.

[2015-10-19 17:18] jonsolove commented on #62
Verified - @ikaygorodov's suggestion seems to fix the problem.

[2015-10-28 14:20] ohjrr2009 commented on #31
Hi, the problem is back.

A simple code like:
print("Test");

does not work, but when I put more four lines of "prints"
print("Test");

print("");
print("");
print("");
print("");

the output comes to life again

[2015-10-29 09:50] jgoldhammer commented on #62
Fixed in master.

Thanks,
Jens

[2015-10-29 09:50] #62 closed

[2015-10-29 09:50] jgoldhammer commented on #58
No further reaction.
Please reopen the issue with more information.

Thanks,
Jens

[2015-10-29 09:50] #58 closed

[2015-10-29 10:09] jgoldhammer commented on #57
Fixed with Lukasz Pull Request.
Thanks

[2015-10-29 10:09] #57 closed

[2015-11-17 08:34] trehak opened #64 "ServerInfo fails looking up workflow definitions"
Running 5.0.d on Windows, when I click on Server Infos I get "Internal Server Error".

I suspect it has something to do with the fact that I deployed the Activiti wars (but I didn't deploy the Share integration) and Activiti is using the same database as Alfresco.

I attached the log files I got in the alfresco.log file.
[js-console-ServerInfo.txt](https://github.com/share-extras/js-console/files/

[2015-11-19 19:30] jgoldhammer commented on #64
Hi,

can you please check if your workflow is deployed correctly. It looks like that the definition is not valid bpmn, so I will close the ticket here because it is nothing related to js-console.

[2015-11-19 19:30] #64 closed

[2015-11-24 06:00] trehak commented on #64
Fair enough, thanks, I'll look into the wf definitions. Cheers.

[2015-12-17 05:33] adtani commented on #46
Did you find the solution for this? I too find myself in the same situation, the mvn spits out warning that no such profile is present in the pom.xml file.  I am trying to build it for alfresco 4.1.

[2016-01-25 09:15] trycoon opened #65 "Get build errors using YUIcompressor bundled with new SDK 2.1.x"
As of Alfresco SDK 2.1.x or something, every Javascript is compressed by yuicompressor-maven-plugin and checked with jslint. If this project is built as a submodule to our ordinary All-in-one project the linter tests will also hit these Javascript-files, and fail the build:

[INFO] --- yuicompressor-maven-plugin:1.5.1:compress (compress-js) @ javascript-console-share ---
[INFO] beautify.js (86900b

[2016-04-19 11:28] joebujok opened #66 "JSconsole strange execution flow"
This has happened on a few scripts but if a task takes a little while to run the jsconsole seems to restart itself.

A simple example of this is a script I have is where I iterate over a folder listing and gets all the access levels for all the users on the children folders and write it to a csv file in the repository. I have a line at the start to say the script has started and a line for when it

[2016-04-19 14:09] binduwavell commented on #66
I can confirm I've seen this too. However I've seen it with the ootb execute script action, so I assumed it was an Alfresco issue. I have written a js root object to block this from happening using the attribute service. Unfortunately this code can't be open sources.

[2016-04-29 11:55] fmaul commented on #27
The Javascript Console AMP files are now in Maven Central. See the README for the info on how to include it in your POM files.

[2016-04-29 11:55] #27 closed

[2016-04-29 11:58] jgoldhammer commented on #66
@binduwavell Thanks for the hint. So, I will close the ticket because it is an Alfresco issue...
@joebujok  Please create a ticket via issues.alfresco.com

Thanks,
Jens

[2016-04-29 11:58] #66 closed

[2016-05-13 07:42] lutzhorn opened #67 "Make methods of class extending BaseScopableProcessorExtension available for autocomplete"
What is the recommended way to make the methods of a class extending `BaseScopableProcessorExtension` available for autocompletion in the JS Console?

Writing a Surf extension (XML plus JS defining the methods) looks quite complicated.

[2016-05-20 10:03] sorrentinov opened #68 "Alfresco 5.1 document root object"
Hi
I'm trying to use your js-console in Alfresco 5.1.e version that is very good.
When I click on execute in on of test js scripts I receive:

041941020 ReferenceError: "document" is not defined

In attachment the screenshot
![Uploading Alfresco_Javascript_console_error.png…]()

I do something wrong? Alfresco 5.1.e is supported
Thanks in advance

[2016-05-22 20:16] jgoldhammer commented on #68
Hi, can you please attach the screenshot or the test script plus stacktrace from the server?
Thx, Jens

[2016-05-23 07:59] sorrentinov commented on #68
Hi,
The test script is in your sample (I clicked on Load Script-->example test script.js.sample)
The stacktrace that appear in your console is:

`500 Internal Error Stacktrace-Details: org.springframework.extensions.webscripts.WebScriptException: 042329723 Wrapped Exception (with status template): 0423118836 Failed to execute script 'Javascript Console Script': 0423118835 ReferenceError: "document

[2016-06-16 13:15] lutzhorn commented on #67
Ping.

Can you please provide some advice.

[2016-06-18 14:40] sazasalamer commented on #68
Hi sorrentinov !
I've another problem!
I'd like to integrate the chat module on my alfresco 5.0d and i need your help.
I want to know what to do and how to do it!
I'm looking forward for a favorable reply.

[2016-09-06 12:45] shazada opened #69 "version numbering not up to date"
The version number isn't really up to date with the development.
We're still on 0.6 which is the same as last year and If I'm not mistaken the final 4.2 release.
Internally we've upped the number to 0.6.3 (alfresco 5.1 compatible) and 0.6.2 (alfresco 5.0 compatible).

I'd suggest we up the nr every x commits or similar.

[2016-10-15 09:59] AFaust commented on #67
The tern files for js-console are pre-generated and not really designed for customization. In my branch for Aikau-ification of the js-console I have actually implemented a web script (https://github.com/AFaust/js-console/blob/js-console-v2/javascript-console-repo/src/main/java/de/fme/jsconsole/AlfrescoScriptAPITernGet.java) to dynamically generate a tern document (without doc element at the moment

[2016-10-28 10:38] jgoldhammer commented on #68
The document root object has to be filled by you- this kind of script needs a selection of a document. So please try to use the standard script.
If this does not work, please create a new ticket.

[2016-10-28 10:38] #68 closed

[2016-10-28 10:38] jgoldhammer commented on #65
It should work now. Please reopen the ticket if it does not work for you...

[2016-10-28 10:38] #65 closed

[2016-10-28 10:39] jgoldhammer commented on #33
I will close the issue now because the problem seems to be resolved

[2016-10-28 10:39] #33 closed

[2016-10-28 10:40] jgoldhammer commented on #67
@lutzhorn you can also provide tern files for the old javascript console.
You can find examples here:
https://github.com/share-extras/js-console/tree/master/javascript-console-share/src/main/amp/web/fme/components/jsconsole/codemirror/addon/tern/defs

You can write these files by hand

[2016-10-28 10:40] #67 closed

[2016-10-28 10:43] jgoldhammer opened #71 "copy to clipboard action for the console output"
I would like to see a button to copy the complete console output to the clipboard.
The clipboard apis now work in all newer browser.

Recommended library:
https://clipboardjs.com/

[2016-10-28 10:45] jgoldhammer commented on #69
We will keep on eye on the versioning in the future.
Next version will be 1.0, compatible with Alfresco 5.1

[2016-10-28 10:45] #69 closed

[2016-10-28 10:52] jgoldhammer opened #72 "Port some commits from deas fork back to js-console"
https://github.com/deas/js-console

https://github.com/deas/js-console/commit/0b0929a0d9f338b92cb99034ad411e9665ff05d1
https://github.com/deas/js-console/commit/b3cbb5789f507ccd2f31993074f9d79683bd2e58
https://github.com/deas/js-console/commit/df5f2c54ad628e4b432c53c7a1bf2c0749625f50
https://github.com/deas/js-console/commit/2171d6ae4d819851c386412751a21bd7a72c2aba
https://github.com/deas/js-conso

[2016-10-28 10:55] jgoldhammer opened #73 "future of aikau based js-console"
@AFaust Is it realistic that the aikau based js-console will be the same feature level like the current js-console? What do you think from your perspective? What is your plan?

[2016-10-28 11:12] AFaust commented on #73
I am generally aiming for the same feature level but some features may be hard to keep or need to be addressed differently. I.e. the FreeMarker highlighting support is not compatible with the newer CodeMirror version and I haven't found an updated version of the plugin.

[2016-10-29 10:14] deas commented on #72
Gave it a quick shot trying to isolate those commits in a fresh branch for merging back. Unfortunately, it is still not obvious to me what exactly you want and what not (e.g. want the BadAss stuff or not?). Again, I am sure a quick audio conversation helps. Not sure who (other than you) is interested. Personally, I am after low hanging fruit for the most part.

[2016-11-01 22:46] iwkse opened #74 "SSL-compliant"
In javascript-console.get.head.ftl it's used a non-secure connection when including the google font.
http://fonts.googleapis.com/css?family=Source+Code+Pro:300

Please update to https://fonts.googleapis.com/css?family=Source+Code+Pro:300

[2017-01-20 14:25] tgeens opened #75 "Opening the JS Console on a large Alfresco 4.2 instance, takes down Alfresco"
The environment is an Alfresco EE 4.2 with about 10M documents.

Opening the JS Console triggers some very broad searches to count documents/folders/... This will run as an unbounded metadata-query on the db. Those db-queries ran for more than an hour before the DBA aborted the running queries in msyql. During that time, Alfresco was more or less unavailable.

Starting point: https://github.com/sh

[2017-01-20 15:04] tgeens commented on #75
@AFaust already mentioned this issue in https://github.com/share-extras/js-console/issues/33#issuecomment-124990017

[2017-01-21 16:40] AFaust commented on #75
The 0.6.0 release published on Maven Central (http://search.maven.org/#search%7Cga%7C1%7Cjavascript-console) has a lot of enhancements over the 0.6.0-rc1. Unfortunately, no tag or release was created for that on GitHub. One improvement is that server info has been moved to a secondary tab of the UI and will not be loaded without active action by the admin (must be requested). This is part of the c

[2017-01-21 16:43] AFaust commented on #75
The types of queries to determine number of documents etc. should be best dealt via SOLR and just use the "numberFound" result metadata instead of actually fetching all results. Unfortunately, unless [ALF-21824|https://issues.alfresco.com/jira/browse/ALF-21824] has been addressed there is no way to force EVENTUAL consistency for searches from Script API.

[2017-03-28 08:27] #74 closed

[2017-03-28 08:32] shazada commented on #71
At least don't copy everything on a one-liner so it can be pasted like shown in the console ;)

[2017-08-16 15:38] josecanoixxus opened #77 "Compatibility with alfresco 5.2"
There is a problem if we use it with alfresco 5.2

Invocation of init method failed; nested exception is org.alfresco.service.cmr.dictionary.DictionaryException: 07160001 Could not import bootstrap model 'alfresco/module/de.fme.alfresco.JavascriptConsole-repo/model/fme-jsconsole-model.xml'

[2017-09-12 18:58] douglascrp commented on #77
Hello.

I am using it with Alfresco 5.2 without that problem.

[2017-09-12 19:31] douglascrp opened #78 "Error when trying to dump the auditing information from repository in Alfresco 5.2"
When performing some batch processing in an Alfresco 5.2.e server, I got the following error:

[code]

This seems to be related with the change described in the following issue https://issues.alfresco.com/jira/browse/ACE-5591

I am trying to fix it by simply commenting the line https://github.com/share-extras/js-console/blob/master/javascript-console-repo/src/main/java/de/fme/jsconsole/DumpService

[2017-09-12 19:42] douglascrp commented on #78
Another option, that I believe is better, is change the limit value for 100, instead of the current -1 (https://github.com/share-extras/js-console/blob/master/javascript-console-repo/src/main/java/de/fme/jsconsole/DumpService.java#L488)

As the mentioned jira issue states, that is the new default value.

[2017-10-05 10:13] fegorama opened #80 "Not select folder"
When I try change the folder, window is frozen.

![image](https://user-images.githubusercontent.com/5998681/31222136-54ca1acc-a9c6-11e7-9b6f-522acda0f6dc.png)

[2017-10-29 09:21] jgoldhammer commented on #77
Any input @josecanoixxus ? Please reopen the ticket if you have more details for us. Thanks, Jens

[2017-10-29 09:21] #77 closed

[2017-10-29 09:23] jgoldhammer commented on #78
Merged. Thanks for the bug report.

[2017-10-29 09:23] #78 closed

[2017-10-29 09:25] jgoldhammer commented on #75
Closed for now. Please use the newer version.
There is nothing i can do at the moment (besides removing the code). If somebody is interested in removing it, please submit a pr.

Thanks
Jens

[2017-10-29 09:25] #75 closed

[2017-10-29 10:36] jgoldhammer commented on #73
Seems you no longer work on it. Closing now.

[2017-10-29 10:36] #73 closed

[2017-10-29 10:36] #6 closed

[2017-10-29 10:37] jgoldhammer commented on #80
Please provide more details. (browser, version of addon?)
Include HAR from Chrome or the network requests to the backend
Please also include the chrome console input if it is possible

[2017-10-29 10:39] AFaust commented on #73
Has lower priority than other projects right now, but not abandoned / given up in general...

[2017-12-01 15:35] xjobex commented on #80
Hello, same problem here with Alfresco Community release 201707 (5.2) and the amps version 0.6.0 downloaded from "releases" tab here in GitHub.
We tried with IE11 and Firefox 33.

[2017-12-01 15:38] jgoldhammer commented on #80
Please provide more details. The network request or anything else (server logs) would help to  analyze the problem more in detail.

Thanks
Jens

[2017-12-04 13:58] xjobex commented on #80
Hi, I reproduced the problem on a test environment, so I collected the log files and attached a zip file containing a network trace from Firefox developer tools (the .har file), alfresco.log, share.log and catalina.out collected while clicking "Select..." near to "run with var space = "

[AlfrescoJavascriptConsoleProblem.zip](https://github.com/share-extras/js-console/files/1527311/AlfrescoJavascr

[2017-12-11 11:56] xjobex commented on #80
Can this https://github.com/atolcd/alfresco-share-import-export/issues/2 be of any help?

[2017-12-14 14:18] xjobex commented on #80
It is, adding
`<@script type="text/javascript" src="${page.url.context}/res/components/common/common-component-style-filter-chain.js"></@script>`
to js-console/javascript-console-share/src/main/amp/config/alfresco/site-webscripts/de/fme/components/jsconsole/javascript-console.get.head.ftl made the javascript console work again. I was able to select a folder to use for "space" var, and then I execu

[2017-12-16 21:20] binduwavell opened #82 "installable jars not working (at least from SDK3)"
I just built head with the installable-jar profile. It produces a jar for each of share and the repo as expected. I attempted to load these into an SDK3 project and while some of the UI elements were available like the document lib actions and the admin console "tab". The document lib actions failed to execute (and did not have icons.) The admin console "tab" loaded but the main content area that

[2017-12-16 21:21] binduwavell commented on #82
Maybe I should mention, that I used the exact same technique to add the amp artifacts to my SDK3 project and they worked perfectly.

[2018-01-17 04:31] nicolas-raoul opened #83 "js-console does not show up in the left-hand-side panel after building per README.md"
I just built and installed js-console, as per README.md:

1. Stop Alfresco
2. mvn install
3. In Alfresco's bin folder: `java -jar alfresco-mmt.jar install ~/src/js-console/javascript-console-repo/target/javascript-console-repo-0.7-SNAPSHOT.amp ../tomcat/webapps/alfresco.war`
4. In Alfresco's bin folder: `java -jar alfresco-mmt.jar install ~/src/js-console/javascript-console-share/target/javascript

[2018-01-17 07:54] jgoldhammer commented on #83
Thanks for the information.
Any information in the logfiles available?

[2018-01-17 08:43] nicolas-raoul commented on #83
@jgoldhammer alfresco.log and share.log attached, it does not seem to contain anything related to js-console.
[alfresco.log](https://github.com/share-extras/js-console/files/1638200/alfresco.log)
[share.log](https://github.com/share-extras/js-console/files/1638204/share.log)
Are there other log files to look for?

[2018-01-17 08:52] jgoldhammer commented on #83
Thanks.
The modules are not installed in repo and share correctly- the log output does not contain the modules for it. Please check the output of mmt.jar commands and check if the war files contains the modules.

[2018-01-17 08:59] nicolas-raoul commented on #83
Indeed, using the installation method described at https://geofoss.net/2015/10/12/using-javascript-console-to-create-a-folder-rule-script-in-alfresco/ did the trick, thanks!

[2018-01-17 08:59] #83 closed

[2018-01-29 05:58] rastoh opened #84 "Not able to select space while running js-console project as an amp dependency in SDK 3 share and repo"
Hi,

While trying to select space from the Javacsript Console page I am not able to load the Destination Folder in the pop after clicking on Select... button.

I can see the following error in the dev console

**TypeError: Alfresco.CommonComponentStyleFilterChain is not a constructor**

After cloning and building the amps for the js-console share and repo project I defined the js-console project a

[2018-02-02 10:07] xjobex commented on #84
Take a look here: [https://github.com/share-extras/js-console/issues/80](url) is it the same issue?

[2018-02-02 11:14] rastoh commented on #84
Hi,

It seems to be a same issue. I will try the solution provided by Enrico Barca and let you know.

[2018-02-09 10:28] giuseppeurso-eu commented on #82
The same issue for me...
It seems web resources are missing in the final jar.
**Workaround**
I just changed the fileset definition in the assembly.xml from:
`<fileSet>
           <directory>${project.basedir}/src/main/web</directory>
.....
</fileSet>`

to
`<fileSet>
            <directory>${project.basedir}/src/main/amp/web</directory>
.....
</fileSet>`
I did not any test with the SDK but it works

[2018-03-21 12:04] fegorama commented on #82
I have same problem, but I don't know how install in my project-repo-jar and project-share-jar...

My projects is in JAR not WAR...

[2018-03-21 12:07] fegorama commented on #80
@jgoldhammer

I not is possible send more information, I need install in my new project with SDK 3.0.1 before. My old project was deleted.

[2018-03-21 12:13] fegorama commented on #80
Anyway, other error in my systems (very similar) was because my installation was in spanish not in english and I solved it by changing 'Sitios' for 'Sites'.

[2018-04-18 13:18] indiejavatechie opened #85 "Facing nexus-staging-maven-plugin issue while building using maven"
I am facing an issue with  nexus-staging-maven-plugin:1.6.7 while building the project.
Can anyone help me out? I tried to check for this dependency and it is available in maven central.
I am attaching the console error below.

[ERROR] The build could not read 1 project -> [Help 1]
org.apache.maven.project.ProjectBuildingException: Some problems were encountered while processing the POMs:
[ERROR]

[2018-09-13 16:51] ahmedowian opened #86 "5.2 Compatibility"
When upgrading from 5.1.3 to 5.2.3, the Javascript Console no longer appears in the list of Admin Tools.  When going to /share/page/console/admin-console/javascript-console, we get nothing on the right side of the screen.  There's no `<div id="page_x002e_ctool_x002e_admin-console_x0023_default">`

What do we need to do to get this awesome tool to show up in 5.2 ?

[2018-09-17 18:44] ahmedowian commented on #86
@douglascrp if you have any insight on this issue, I would really appreciate it.  Did you do anything special to get this to work on 5.2 ?

[2018-09-17 23:10] ahmedowian commented on #86
Ok, so I figured it out. The Javascript Console **is** already compatible with 5.2. It was a deployment error.  Closing this issue with a smile on my face.

[2018-09-17 23:10] #86 closed

[2018-09-28 11:57] p4535992 opened #87 "Failed to create assembly: Error adding file-set for 'de.fmaul:javascript-console-repo:amp:0.6' to archive: Error adding archived file-set."
Hi i'm tring to add the "js-console" on my alfresco 5.2 community project where i'm using the SDK 3.X.

So i follow this tutorial: [https://docs.alfresco.com/5.2/tasks/sdk-using-amps.html](https://docs.alfresco.com/5.2/tasks/sdk-using-amps.html) and add these piece of code to my pom.xml project:

[code]

After that i run the command for generate my amp file: `clean source:jar package assembly:sing

[2018-09-28 11:59] shazada commented on #87
Sure there are forks which uses jars instead of amps and they work fine.
Haven't tried with amps yet with SDK 3.

On Fri, 28 Sep 2018, 13:57 4535992, <notifications@github.com> wrote:

[2018-10-02 22:50] douglascrp commented on #87
When using the SDK 3.0, there is no need to add the dependency.
Only the moduleDependency is required.

Try again by simply removing the dependency section for js-console.

[2018-10-04 10:06] p4535992 commented on #87
It's seems douglascrp is right, i just stop using assembly because there is still some issue between old sdk 2.2.0  e new sdk 3.0.0 and use the jar management of SDK3 and now it's work.

Ty all for the support.

[2018-10-04 10:06] #87 closed

[2019-01-25 19:16] instalacionesdepuertas opened #89 "compatibility with alfresco 5.2"

[2019-02-02 21:37] douglascrp commented on #89
I use this on Alfresco 5.2 without any problem.

Don't you have other addon trying to create a new Administration Tools entry that maybe is breaking this one?

[2019-12-11 13:08] fegorama opened #90 "Error getting json"
Hi!

I have instaled two projects with SDK 3, but in one project doesn't worked. Monitoring with Firefox I detected this errors:

![imagen](https://user-images.githubusercontent.com/5998681/70623986-88a06b80-1c1f-11ea-96d1-af6c08f5791a.png)

In the other project work fine...

Best regards,
Fegor

[2020-01-31 11:09] aelsantex opened #91 "Error to deploy on 6.1 community with docker"
Hello

I try to deploy the amp files on alfresco 6.1 installed as docker containers.

I copy the amp file of repo with this command:
`
docker cp /root/.m2/repository/de/fmaul/javascript-console-repo/0.7-SNAPSHOT/javascript-console-repo-0.7-SNAPSHOT.amp 8d633437996f:/usr/local/tomcat/amps
`

But when i try to install the amp on alfresco i receive this error:
`
root@xalf6:~# docker exec -it composer

[2020-04-06 03:46] ainsofs commented on #89
Confirmed working in Alfresco 5.2 ie 201707GA I had to use the ./bin/apply_amps.sh script though

[2020-06-11 04:35] aileenscott-uleska opened #92 "Some security findings"
Hi folks,

I hope you don’t mind, we were testing out our security automation tool and ran it against your project.  A few issues came out that you may want to check out - we weren’t sure how to submit a PDF here, so we uploaded it to https://source-security.co.uk/40aa3289-04a5-4365-bcb0-0ac3b2b87894/ if you wanna check it out.

Any issues or feedback, just let us know.

Aileen

[2020-06-29 22:12] jpotts commented on #91
This is an old issue, but just in case it helps the OP or someone else...

Docker images are immutable. Instead of trying to run the MMT after the container is up-and-running, you should install the JavaScript Console AMPs as a step when you build your image.

If you are using the SDK, you can just add the JS Console AMP repo and share AMPs as dependencies in the pom.xml files for your repo and sh

[2020-06-29 22:18] jpotts opened #93 "Non-snapshot release for 0.7"
Seems like 0.7 has been a SNAPSHOT release for a long time. Some customers have policies about deploying SNAPSHOT builds to prod. Can we get a non-SNAPSHOT build of 0.7?

[2020-06-29 22:21] jpotts opened #94 "Move to org.orderofthebee group and publish to Maven Central?"
Is there anything that keeps the js-console artifacts from being published to Maven Central other than possibly that none of the active maintainers control the current group (de.fmaul)?

If that is the only blocker, can we refactor the add-on to be in the org.orderofthebee group so we can push this to the public Maven repo?

[2020-06-30 07:10] shazada commented on #94
I would agree on this as well. We're building the JS-console as an amp & jar internally and publishing it to our own Nexus, but would love to have in the Maven Central if everyone agrees.

[2020-10-07 15:24] chyder opened #95 "spring-social-facebook:1.0.0.RC1 dependency missing"
It seems that a facebook dependency for org.springframework.social is breaking the build:

[code]

A potential solution would be to remove org.springframework.social in the console-repo pom:
[code]

[pom.xml.txt](https://github.com/share-extras/js-console/files/5341764/pom.xml.txt)

[2021-03-27 19:51] AFaust commented on #94
@jpotts / @shazada Given that Share is going to be EoL-ed at some point, I had already considered (re-) implementing JavaScript Console, or at least just a frontend for it, within the OOTBee Support Tools addon. Given that ACS 7.0 has introduced some library updates / changes breaking JavaScript Console (immediate issue I see is with Apache Commons Lang dependency), some change is definitely neces

[2021-03-27 20:01] AFaust opened #96 "ACS 7.0: JavaScript Console breaks due to missing / incomatible Apache Commons Lang dependency"
When installing the 0.6 release version from Maven Central on ACS 7.0, execution of scripts within the JavaScript Console fail due to

[code]

ACS 7.0 no longer includes commons-lang - instead, commons-lang3 is included which provides the same utility in a different package, and may have already been available in previous ACS versions, as the package rename was intended to allow both library versi

[2021-04-06 16:49] shazada commented on #94
Hi @AFaust great looking into this. I haven't had an implementation with acs 7.0 so didn't find an issue with that.

Regarding re-implementing elsewhere the js-console: I guess we use share just as a backend tool, this also becomes more necessary when one uses the RM-module where share is still the main UI.

We could spend some time to get this fixed in Share, I also had ideas to get it re-impleme

[2021-04-06 20:53] AFaust commented on #94
[Cristina recently brought up the question of admin capabilities in the Content App](https://hub.alfresco.com/t5/ideas-forum/administration-capabilities-as-part-of-the-core/idi-p/305819) and my view on this has not changed since I posted my reply to her idea: I see the Content App - or any other ADF-based app - as end-user UIs only. Putting effort into admin capabilities there - with the barely us

[2021-07-09 14:25] #95 closed

[2021-07-09 14:25] #96 closed

[2022-03-18 20:06] marcogianini opened #99 "Install Javascript Console in Alfresco Community 7.1"
I used version 6.0 repo.amp and share.amp on a 7.1 Alfresco Community installation.

And it's generating the following message inside the JavaScript Console panel when I try to run any script. Using the test scripts we have in the repository.

500 Internal Error
Stacktrace-Details:

An error inside the HTTP server which prevented it from fulfilling the request.
org/apache/commons/lang/StringUtils

[2022-03-22 13:35] sergefedorow commented on #99
Use 0.7 version of modules.

[2022-03-22 17:57] marcogianini commented on #99
Thanks Serge.

I located version 0.7 and installed it successfully.

Thank you very much.

[2022-03-22 17:57] #99 closed, assigned to nobody